:root {
    --light: #DCDCDC;
    --dark: #777777;
}
* {
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
background-color: 	var(--light);
}
header,.input—sescion{
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
header{
    background-color: var(--dark);
    grid-template-rows: 50px;
}
.header-flexbox,.input—flexbox{
    grid-column: 2;
    display: flex;
    align-items: center;
    gap:10px;
}
.material-symbols-outlined {
    font-size: 35px;
    font-variation-settings:
    'wght' 700,
    'GRAD' -25,
    'opsz' 35
}
.header-text{
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.input—sescion{
    grid-template-rows: 100px;
}
input{
    width: 350px;
    height: 30px;
    outline-style: none ;
    border: 0px;
}
h1{
    padding: 100px;
    text-align: center;
    
}
.item {
    display: grid; 
    grid-template-columns: 1fr 420px 40px 40px 1fr; 
    gap: 0px 40px; 
    grid-template-areas: 
      ". content chick-btn delete-btn ."; 
    align-items:center;
}
.chick-btn { 
    grid-area: chick-btn; 
}
.delete-btn{
    grid-area: delete-btn; 
}
.content { 
    width: 100%;
    grid-area: content; 
    font-size: 22px;
}
#none{
    display: none;
}
/* #tip{
    display: none;
} */